.button {
    border: 0;
    outline: 0;
    background-color: #24445a;
    -fx-text-fill: #fff;
    -fx-background-color: #24445a;
    -fx-background-radius: 0;
}

.button:hover {
    background-color: #316e60;
    -fx-background-color: #316e60;
}

.textField {
    border: 0;
    outline: 0;
    background-color: #24445a;
    -fx-text-fill: #fff;
    -fx-background-color: #24445a;
    -fx-background-radius: 0;
}

.sliderBPM {
    border: 0;
    outline: 0;
    background-color: #fff;
    -fx-text-fill: #2D3B4A;
    -fx-background-color: #fff;
    -fx-background-radius: 0;
}

.sheetPanel {
    -fx-text-fill: #2D3B4A;
    -fx-background-radius: 0;
    -text-area-background: #fff;
    border-color: #2D3B4A;
    -fx-border-color: #2D3B4A;
    font-size: 3.5em;
    -fx-font-size: 3.5em;
    font-family: Arial;
    -fx-font-family: Arial;
}

.sheetPanel .content {
    background-color: #374858;
    -fx-background-color: -text-area-background;
    border-color: #2D3B4A;
    -fx-border-color: #2D3B4A;
}

